/* style.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.typekit-badge {
  display: none !important; }

form .inputTitle {
  font-family: 'mono45-headline';
  font-size: 22px;
  color: #FFF;
  padding-top: 20px;
  padding-bottom: 5px; }
form .inputPasswordTitle {
  font-family: 'mono45-headline';
  font-size: 22px;
  color: #FFF;
  padding-top: 20px; }

.title {
  font-family: 'mono45-headline';
  font-size: 35px;
  width: 40%;
  color: #FFF;
  line-height: 1; }

.formTitle {
  font-family: 'mono45-headline';
  font-size: 35px;
  width: 40%;
  color: #333;
  width: 100%;
  padding-bottom: 20px;
  line-height: 1.0; }

.bodyCopy {
  font-family: 'Adobe Jenson Pro', serif;
  font-size: 12px;
  width: 40%;
  color: #333; }

.formBodyCopy {
  font-family: 'Adobe Jenson Pro', serif;
  font-size: 13px;
  color: #333;
  line-height: 1.5;
  width: 100%; }

#main {
  float: left;
  width: 100%; }

#profile {
  float: left;
  width: 100%;
  margin: 0 auto;
  position: absolute;
  top: 0px;
  left: 100%;
  background-color: #333333;
  height: 100%;
  z-index: 999; }

#formContainer {
  position: absolute;
  z-index: 999; }

#signUpFormContainer {
  width: 50%;
  height: 500px;
  margin: 100 auto;
  position: relative; }
  #signUpFormContainer ul {
    margin: 0; }
  #signUpFormContainer li {
    list-style-type: none;
    margin: 0; }
  #signUpFormContainer input {
    width: 100%;
    height: 40px;
    font-family: 'Adobe Jenson Pro', serif;
    font-size: 16px;
    padding-left: 10px; }
  #signUpFormContainer #profileError {
    display: none; }

#signUpStatus {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  display: none; }

.scrollSlide {
  width: 100%;
  background-color: #000000;
  overflow: hidden;
  position: relative;
  height: 90%; }
  .scrollSlide .title {
    font-family: 'mono45-headline';
    font-size: 35px;
    width: 40%;
    color: #333; }
  .scrollSlide .bodyCopy {
    font-family: 'Adobe Jenson Pro', serif;
    font-size: 16px;
    width: 40%;
    color: #333; }
  .scrollSlide ul {
    position: absolute;
    top: 40%;
    left: 50px;
    list-style-type: none;
    line-height: 2;
    padding: 0;
    margin: 0;
    z-index: 999; }
  .scrollSlide li {
    padding: 0;
    margin: 0; }
  .scrollSlide #videoHideOverlay {
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.85);
    position: absolute;
    top: 0;
    left: 0; }

.homeSlide {
  width: 100%;
  background-color: #000000;
  overflow: hidden;
  position: relative;
  height: 100%; }
  .homeSlide .title {
    font-family: 'mono45-headline';
    font-size: 35px;
    width: 40%;
    color: #333; }
  .homeSlide .bodyCopy {
    font-family: 'Adobe Jenson Pro', serif;
    font-size: 16px;
    width: 40%;
    color: #333; }
  .homeSlide ul {
    position: absolute;
    top: 40%;
    left: 50px;
    list-style-type: none;
    line-height: 2;
    padding: 0;
    margin: 0;
    z-index: 999; }
  .homeSlide li {
    padding: 0;
    margin: 0; }
  .homeSlide #videoHideOverlay {
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.85);
    position: absolute;
    top: 0;
    left: 0; }
  .homeSlide #homeTextContainer {
    width: 100%;
    height: 50%;
    z-index: 999;
    position: absolute;
    left: 0;
    top: 30%;
    overflow: hidden;
    text-align: center; }
    .homeSlide #homeTextContainer ul {
      top: 0px; }
    .homeSlide #homeTextContainer li {
      margin: 0;
      padding: 0; }
  .homeSlide #homeText {
    width: 75%;
    z-index: 999;
    position: relative;
    margin: 0 auto; }
    .homeSlide #homeText .title {
      width: 100%;
      line-height: 1.0; }
    .homeSlide #homeText .bodyCopy {
      width: 100%;
      font-size: 22px; }

#header {
  width: 100%;
  height: 30px;
  position: absolute;
  z-index: 999;
  top: 0px;
  left: 0px; }
  #header ul {
    float: right; }
  #header li {
    display: inline;
    list-style-type: none;
    font-family: 'mono45-headline';
    font-size: 16px;
    color: #333;
    padding-right: 20px;
    cursor: pointer; }
    #header li:hover {
      color: #425380; }

.buttonsContainer {
  width: 100%;
  padding-top: 20px; }

.primaryButton {
  float: right;
  width: 150px;
  height: 50px;
  background-color: #FFFFFF;
  position: relative;
  cursor: pointer; }
  .primaryButton:hover {
    background-color: #425380; }
  .primaryButton:hover .buttonText {
    color: #FFF; }

.primaryButtonText {
  width: 100%;
  color: #333;
  text-align: center;
  font-family: 'mono45-headline';
  font-size: 18px;
  position: absolute;
  top: 14px; }

.outlinedButton {
  width: 150px;
  height: 50px;
  margin: 0 auto;
  position: relative;
  cursor: pointer;
  outline: #FFF solid medium; }
  .outlinedButton:hover {
    outline: #425380 solid medium;
    background-color: #425380; }
  .outlinedButton:hover .buttonText {
    color: #FFF; }

.buttonText {
  width: 100%;
  color: #333;
  text-align: center;
  font-family: 'mono45-headline';
  font-size: 18px;
  position: absolute;
  top: 8px; }

#mainVideo {
  opacity: 0; }

.videoCloseContainer {
  position: absolute;
  z-index: 999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%; }

.videoCloseX {
  float: right;
  cursor: pointer;
  padding-top: 10px;
  padding-right: 10px; }

#mainVideoClose {
  display: none;
  height: 50px; }
