<div style="width: 100%; height: 100%;" ng-controller='WeatherTermsController as weatherTermsController'>
	<div style="height:72px;"></div>
	<div style="margin:0 0 20px 0; background:#eeeff2; border-bottom:1px solid #DDD; width: 100%; height:50px;">
		<ul style="padding-left:50px; padding-top:10px;">
			<li style="float:left;">
				<a class="terms" href ng-click="weatherheaderClick('terms')">Terms</a>
			</li>
			<li style="float:left;">
				<a class="terms" href ng-click="weatherheaderClick('privacy')">Privacy</a>
			</li>
	
		</ul>
	</div>
	<div style="width:100%; margin:0 auto; text-align: center">
		<div id="intro" ng-bind-html="weatherTermsSummary | unsafe" style="width:75%; max-width:650px; margin: 0 auto; padding:50px 0 50px 0; text-align: left; display:block;  font-family: 'museo-sans-condensed',serif; color: #444444; font-size: 24px; line-height: 30px;">
	</div>	
	</div>
	<ul>
		<li ng-repeat="currentSection in weatherTermsSections" style="font-family: 'museo-sans-condensed',serif; color: #444444; font-size: 12px;">
			<div style="border-top:1px solid #DDD; color:#333333; padding:50px; width: 100%; float:left;">
				<div style="border:0; float:left; width: 60%">
					<div style="">
						<div ng-repeat="currentLegal in currentSection.legals" style="margin-right:50px;">
							<div style="font-weight:700;text-rendering: optimizeLegibility; margin: 0 0 15px 0;" ng-bind-html="currentLegal.title | unsafe"></div>
							<div style="line-height: 17px; font-size:12px; font-family: 'museo-sans-condensed',serif; color: #444444" ng-bind-html="currentLegal.legal | unsafe"></div>
						</div>
					</div>
				</div>
				<div style="float:left; width: 40%; max-width:250px; ">
					<strong style="opacity:0.5">Basically</strong>
					<div style="line-height: 30px; font-size:24px; font-family: 'museo-sans-condensed',serif; color: #444444" ng-bind-html="currentSection.plain | unsafe"></div>
				</div>
			</div>
		</li>
	</ul>
</div>