<div style="background-color: #000000; color:#FFFFFF">
	<div class="scrollSlide">
	<video style="width:100%;" loop="1" autoplay="true" muted="true" src="http://player.vimeo.com/external/101337508.hd.mp4?s=0fc2909c3da55900546f15867d760a48"></video>
	<div style="background-color:rgba(0, 0, 0, 0.0); top:0; left:0; width:100%; height:100%; position:absolute;"></div>
	<div style="position: absolute; top: 0; left: 0; width: 100%; height:100%; margin:auto 0" >
		<div style="text-align:center; padding-top:100px; width: 40%; margin-left:auto; margin-right: auto; display:block;">
			sdfds
		</div>
	</div>
	<div style="background-color:#FFFFFF; width:100%; padding-bottom: 50px; ">
		<div style="width:100%; float:left; background-color: #FFFFFF">
			<div style="width:85%; margin:0 auto; font-family: 'kepler-std-display',serif; font-size: 50px; color:#333333; font-weight:300; text-align: center; padding-top:100px; padding-bottom:30px; line-height:56px; font-style:italic;">It's about saying hello to a stranger and holding that hug a little bit longer.</div>
			<div style="width:85%;margin:0 auto;">
				<div style="width:50%; float:left;; background-color:#000000; padding-top:50px; padding-bottom: 50px;">
					<ul style="list-style-type: none; padding-left: 60px; padding-right:60px; padding-bottom: 60px;">
						<div style="font-family: 'museo-sans-condensed',serif; color:#FFFFFF; font-size: 16px; letter-spacing: .15em; text-transform:uppercase; padding-bottom: 20px;">Not just one and zeros</div>
						<div style="font-family: 'museo-sans-condensed',serif; color:#FFFFFF; font-size: 26px; font-weight: 100; line-height:32px;">Fanny pack Thundercats sriracha, distillery vinyl chambray ugh DIY. Marfa fanny pack small batch, American Apparel hella quinoa locavore selfies.</div>
					</ul>
				</div>
				<div style="float:right; width: 50%;  color: #000000;">
					<ul style="width:100%">
						<li style="width:100%; float:left;">
							<img style="display:block; float:left;padding-right:10px;" src="sdfds"/>
							<p style="float:left;font-family: 'museo-sans-condensed',serif; color: #666666; font-weight: 700; font-size: 14px; text-transform: uppercase;">encrypted emails sent</p>
						</li>
						<li style="width:100%: float:left;">
							<img style="display:block; float:left;padding-right:10px;" src="sdfds"/>
							<p style="float:left;font-family: 'museo-sans-condensed',serif; color: #666666; font-weight: 700; font-size: 14px; text-transform: uppercase;">encrypted emails sent</p>
						</li>
						<li style="width:100%; float:left;">
							<img style="display:block; float:left;padding-right:10px;" src="sdfds"/>
							<p style="float:left;font-family: 'museo-sans-condensed',serif; color: #666666; font-weight: 700; font-size: 14px; text-transform: uppercase;">encrypted emails sent</p>
						</li>
						<li style="width:100%; float:left;">
							<img style="display:block; float:left;padding-right:10px;" src="sdfds"/>
							<p style="float:left;font-family: 'museo-sans-condensed',serif; color: #666666; font-weight: 700; font-size: 14px; text-transform: uppercase;">encrypted emails sent</p>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<div style="width:100%; float:left; background-color: #FFFFFF">
			<div style="width:85%; margin:0 auto; font-family: 'kepler-std-display',serif; font-size: 50px; color:#333333; font-weight:300; text-align: center; padding-top:100px; padding-bottom:30px; line-height:56px; font-style:italic;">Think bigger, drive harder but always remember our midwest values.</div>
			<div style="width:85%;margin:0 auto;">
				<div style="width:50%; float:left; background-color:#000000; padding-top:50px; padding-bottom: 50px;">
					<ul style="list-style-type: none; padding-left: 60px; padding-right:60px;">
						<div style="font-family: 'museo-sans-condensed',serif; color:#FFFFFF; font-size: 16px; letter-spacing: .15em; text-transform:uppercase; padding-bottom: 20px;">Smell the roses</div>
						<div style="font-family: 'museo-sans-condensed',serif; color:#FFFFFF; font-size: 26px; font-weight: 100; line-height:32px;">Asymmetrical forage aesthetic keffiyeh, fixie cardigan street art banh mi single-origin coffee drinking vinegar Helvetica typewriter. Raw denim chambray ethical PBR&B kogi leggings stumptown artisan, Etsy salvia gluten-free bicycle rights aesthetic. Swag flexitarian direct trade Pitchfork, XOXO roof party twee Vice small batch letterpress authentic jean shorts sriracha.</div>
					</ul>
				</div>
				<div style="float:right; width:50%; color: #000000;">
					<ul style="width:100%">
						<li style="width:100%; float:left;">
							<img style="display:block; float:left;padding-right:10px;" src="sdfds"/>
							<p style="float:left;font-family: 'museo-sans-condensed',serif; color: #666666; font-weight: 700; font-size: 14px; text-transform: uppercase;">encrypted emails sent</p>
						</li>
						<li style="width:100%: float:left;">
							<img style="display:block; float:left;padding-right:10px;" src="sdfds"/>
							<p style="float:left;font-family: 'museo-sans-condensed',serif; color: #666666; font-weight: 700; font-size: 14px; text-transform: uppercase;">encrypted emails sent</p>
						</li>
						<li style="width:100%; float:left;">
							<img style="display:block; float:left;padding-right:10px;" src="sdfds"/>
							<p style="float:left;font-family: 'museo-sans-condensed',serif; color: #666666; font-weight: 700; font-size: 14px; text-transform: uppercase;">encrypted emails sent</p>
						</li>
						<li style="width:100%; float:left;">
							<img style="display:block; float:left;padding-right:10px;" src="sdfds"/>
							<p style="float:left;font-family: 'museo-sans-condensed',serif; color: #666666; font-weight: 700; font-size: 14px; text-transform: uppercase;">encrypted emails sent</p>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<div style="width:100%; float:left; background-color: #FFFFFF; padding-bottom:50px;">
			<div style="width:85%; margin:0 auto; font-family: 'kepler-std-display',serif; font-size: 50px; color:#333333; font-weight:300; text-align: center; padding-top:100px; padding-bottom:30px; line-height:56px; font-style:italic;">Leave it better than you found it.</div>
			<div style="width:85%;margin:0 auto;">
				<div style="width:50%; float:left; background-color:#000000; padding-top:50px; padding-bottom: 50px;">
					<ul style="list-style-type: none; padding-left: 60px; padding-right:60px;">
						<div style="font-family: 'museo-sans-condensed',serif; color:#FFFFFF; font-size: 16px; letter-spacing: .15em; text-transform:uppercase; padding-bottom: 20px;">reverse the me</div>
						<div style="font-family: 'museo-sans-condensed',serif; color:#FFFFFF; font-size: 26px; font-weight: 100; line-height:32px;">Asymmetrical forage aesthetic keffiyeh, fixie cardigan street art banh mi single-origin coffee drinking vinegar Helvetica typewriter. Raw denim chambray ethical PBR&B kogi leggings stumptown artisan, Etsy salvia gluten-free bicycle rights aesthetic. Swag flexitarian direct trade Pitchfork, XOXO roof party twee Vice small batch letterpress authentic jean shorts sriracha.</div>
					</ul>
				</div>
				<div style="float:right; width:50%; color: #000000;">
					<ul style="width:100%">
						<li style="width:100%; float:left;">
							<img style="display:block; float:left;padding-right:10px;" src="sdfds"/>
							<p style="float:left;font-family: 'museo-sans-condensed',serif; color: #666666; font-weight: 700; font-size: 14px; text-transform: uppercase;">encrypted emails sent</p>
						</li>
						<li style="width:100%: float:left;">
							<img style="display:block; float:left;padding-right:10px;" src="sdfds"/>
							<p style="float:left;font-family: 'museo-sans-condensed',serif; color: #666666; font-weight: 700; font-size: 14px; text-transform: uppercase;">encrypted emails sent</p>
						</li>
						<li style="width:100%; float:left;">
							<img style="display:block; float:left;padding-right:10px;" src="sdfds"/>
							<p style="float:left;font-family: 'museo-sans-condensed',serif; color: #666666; font-weight: 700; font-size: 14px; text-transform: uppercase;">encrypted emails sent</p>
						</li>
						<li style="width:100%; float:left;">
							<img style="display:block; float:left;padding-right:10px;" src="sdfds"/>
							<p style="float:left;font-family: 'museo-sans-condensed',serif; color: #666666; font-weight: 700; font-size: 14px; text-transform: uppercase;">encrypted emails sent</p>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>
	
</div>