<div id="buffalomap" style="background-color: #000000; color:#FFFFFF; width:100%; height:100%">
	<leaflet  center="london" width="100%" height="100%" defaults="defaults" markers="markers" tiles="tiles"></leaflet>
	<div style="position:absolute; z-index: 999; top: 100px; left:10px; width: 300px; background-color: #FFF; padding:50px;">
		<div style="color:#333333; font-size:14px; line-height: 18px; font-family: 'museo-sans-condensed',serif; margin-bottom:42px;">
			<span style="font-family: 'kepler-std-display',serif; font-size:36px; font-weight:300; color: #333; line-height: 38px;">Lets talk!</span>
			Hey it happens, sometime you just need to talk to a human, here's the best way to get a hold of someone for certain situations.
		</div>

		<div>
			<h3 style="font-family: 'museo-sans-condensed',serif; font-size:18px; color:#333; font-weight: 700;">Press</h3>
			<div style="font-family: 'museo-sans-condensed',serif; font-size:16px; color:#666; font-weight: 300; padding-bottom:20px; border-bottom: 1px solid #e6e6e6">
				Chris Fisher
				<br>
				Phone: 816-738-5554
				<br>
				Email: <a href="mailto:cfisher@buffaloprojects.com" style="text-decoration: none; display: inline; color:#ee2024" target="_blank">cfisher@buffaloprojects.com</a>
				<br><br>
				<a href="/presskit.zip" style="text-decoration: none; font-weight: 700; display: inline; color:#ee2024" target="_blank">Press Kit Download</a>
			</div>
		</div>

		<div style="padding-bottom:20px; border-bottom: 1px solid #e6e6e6">
			<h3 style="font-family: 'museo-sans-condensed',serif; font-size:18px; color:#333; font-weight: 700; margin-top:20px; margin-bottom:4px;">Careers</h3>
			<div style="font-family: 'museo-sans-condensed',serif; font-size:16px; color:#666; font-weight: 300">Check out our <a href="/careers" style="text-decoration: none; display: inline; color:#ee2024">Careers</a>  section for more information.</div>
		</div>
		<div style="padding-bottom:20px; border-bottom: 1px solid #e6e6e6">
			<h3 style="font-family: 'museo-sans-condensed',serif; font-size:18px; color:#333; font-weight: 700; margin-top:20px; margin-bottom:4px;">Bugs</h3>
			<div style="font-family: 'museo-sans-condensed',serif; font-size:16px; color:#666; font-weight: 300">Check out our <a href="/careers"  style="text-decoration: none; color:#ee2024">Careers</a> section for more information.</div>
		</div>

		<div style="padding-bottom:20px; border-bottom: 1px solid #e6e6e6">
			<h3 style="font-family: 'museo-sans-condensed',serif; font-size:18px; color:#333; font-weight: 700; margin-top:20px; margin-bottom:4px;">Social</h3>
			<ul style="list-style-type: none">
				<li style="float:left;"></li>
			</ul>
		</div>
		<div style="padding-bottom:20px;">
			<h3 style="font-family: 'museo-sans-condensed',serif; font-size:18px; color:#333; font-weight: 700; margin-top:20px; margin-bottom:4px;">General</h3>
			<div style="font-family: 'museo-sans-condensed',serif; font-size:16px; color:#666; font-weight: 300">
				<p>
					Buffalo Projects
					<br>
					616 West Dartmouth Street
					<br>
					Kansas City, Missouri 64113
				</p>

				<p>
					Phone: 816-738-5554
					<br>
					Email: <a style="text-decoration: none; color:#ee2024; display:inline;" href="mailto:info@firstborn.com">info@buffaloprojects.com</a>
				</p>
			</div>
		</div>
	</div>
</div>
