<div class="scrollSlide">
			<video style="width:100%;" loop="1" autoplay="true" muted="true" src="http://s3-us-west-2.amazonaws.com/jaci.judelson/Ikea_hello_eng.webm"></video>
			<div style="background-color:rgba(0, 0, 0, 0.75); top:0; left:0; width:100%; height:100%; position:absolute;"></div>
			<div style="position: absolute; top: 0; left: 0; width: 100%; height:100%; margin:auto 0" >
				<div style="text-align:center; padding-top:100px; width: 40%; margin-left:auto; margin-right: auto; display:block;">
					<div style="text-align: left; border-style:solid; border-width: 1px; border-color: #FFFFFF; padding:20px;">
						<div class="section-title">
							Love Life
						</div>
						<div class="section-body">
							Letterpress mlkshk wayfarers, kogi retro ugh before they sold out viral flannel mustache. Swag aliqua cupidatat distillery. Pork belly Odd Future gluten-free tousled, lo-fi Shoreditch plaid. Salvia PBR synth dolore. Exercitation shabby chic McSweeney's cred 90's laboris. Cornhole accusamus street art slow-carb YOLO semiotics iPhone, salvia voluptate.
							<br>
							<br>
							Sunt eu authentic, duis church-key 3 wolf moon chillwave lo-fi velit occupy Intelligentsia cliche. Post-ironic church-key PBR&B fugiat, tempor Pitchfork magna incididunt placeat Schlitz reprehenderit jean shorts beard. Vegan esse consectetur vinyl veniam.
						</div>
						<div style="text-align: center; width:100%; padding-top:20px; padding-bottom: 20px;">
							<a class="greyButtonWrapper" href="asd">
							<div class="grey-button">
								LEARN MORE
							</div></a>
							<a class="greyButtonWrapper" href="asd">
							<div class="grey-button">
								&nbsp;&nbsp;&nbsp;&nbsp;SIGN UP&nbsp;&nbsp;&nbsp;&nbsp;
							</div></a>
						</div>
					</div>

					<!-- Add the start you profile stuff in the div below-->
					<div></div>
				</div>
			</div>
		</div>
		<div style="width:100%; height:301px; background-color: #FFFFFF;"></div>
		<div class="scrollSlide">
			<video style="width:100%;" loop="1" autoplay="true" muted="true" src="http://s3-us-west-1.amazonaws.com/tool.digital/tori-500-ios-app.webm"></video>
			<div style="background-color:rgba(0, 0, 0, 0.75); top:0; left:0; width:100%; height:100%; position:absolute;"></div>
			<div style="position: absolute; top: 0; left: 0; width: 100%; height:100%; margin:auto 0" >
				<div style="padding-top:100px; width: 40%; padding-left:100px; display:block;">
					<div style="text-align: left; border-style:solid; border-width: 1px; border-color: #FFFFFF; padding:20px;">
						<div class="section-title">
							Simple, redefined
						</div>
						<div class="section-body">
							Letterpress mlkshk wayfarers, kogi retro ugh before they sold out viral flannel mustache. Swag aliqua cupidatat distillery. Pork belly Odd Future gluten-free tousled, lo-fi Shoreditch plaid. Salvia PBR synth dolore. Exercitation shabby chic McSweeney's cred 90's laboris. Cornhole accusamus street art slow-carb YOLO semiotics iPhone, salvia voluptate.
							<br>
							<br>
							Sunt eu authentic, duis church-key 3 wolf moon chillwave lo-fi velit occupy Intelligentsia cliche. Post-ironic church-key PBR&B fugiat, tempor Pitchfork magna incididunt placeat Schlitz reprehenderit jean shorts beard. Vegan esse consectetur vinyl veniam.
						</div>
						<div style="text-align: center; width:100%; padding-top:20px; padding-bottom: 20px;">
							<a class="greyButtonWrapper" href="asd">
							<div class="grey-button">
								WATCH VIDEO
							</div></a>
							<a class="greyButtonWrapper" href="asd">
							<div class="grey-button">
								&nbsp;&nbsp;&nbsp;&nbsp;SIGN UP&nbsp;&nbsp;&nbsp;&nbsp;
							</div></a>
						</div>
					</div>

					<!-- Add the start you profile stuff in the div below-->
					<div></div>
				</div>
			</div>
		</div>
		<div class="scrollSlide">
			<video style="width:100%;" loop="1" autoplay="true" muted="true" src="http://s3-us-west-2.amazonaws.com/jason.zada/rct_casestudy.webm"></video>
			<div style="background-color:rgba(0, 0, 0, 0.75); top:0; left:0; width:100%; height:100%; position:absolute;"></div>
			<div style="position: absolute; top: 0; left: 0; width: 100%; height:100%; margin:auto 0" >
				<div style="padding-top:100px; width: 40%; padding-right:100px; float:right; display:block;">
					<div style="text-align: left; border-style:solid; border-width: 1px; border-color: #FFFFFF; padding:20px;">
						<div class="section-title">
							Creating moments
						</div>
						<div class="section-body">
							Letterpress mlkshk wayfarers, kogi retro ugh before they sold out viral flannel mustache. Swag aliqua cupidatat distillery. Pork belly Odd Future gluten-free tousled, lo-fi Shoreditch plaid. Salvia PBR synth dolore. Exercitation shabby chic McSweeney's cred 90's laboris. Cornhole accusamus street art slow-carb YOLO semiotics iPhone, salvia voluptate.
							<br>
							<br>
							Sunt eu authentic, duis church-key 3 wolf moon chillwave lo-fi velit occupy Intelligentsia cliche. Post-ironic church-key PBR&B fugiat, tempor Pitchfork magna incididunt placeat Schlitz reprehenderit jean shorts beard. Vegan esse consectetur vinyl veniam.
						</div>
						<div style="text-align: center; width:100%; padding-top:20px; padding-bottom: 20px;">
							<a class="greyButtonWrapper" href="asd">
							<div class="grey-button">
								WATCH VIDEO
							</div></a>
							<a class="greyButtonWrapper" href="asd">
							<div class="grey-button">
								&nbsp;&nbsp;&nbsp;&nbsp;SIGN UP&nbsp;&nbsp;&nbsp;&nbsp;
							</div></a>
						</div>
					</div>

					<!-- Add the start you profile stuff in the div below-->
					<div></div>
				</div>
			</div>
		</div>
		<div class="scrollSlide">
			<video style="width:100%;" loop="1" autoplay="true" muted="true" src="http://s3.amazonaws.com/tool.test/tool-reel.webm"></video>
			<div style="background-color:rgba(0, 0, 0, 0.75); top:0; left:0; width:100%; height:100%; position:absolute;"></div>
			<div style="position: absolute; top: 0; left: 0; width: 100%; height:100%; margin:auto 0" >
				<div style="padding-top:100px; width: 40%; padding-right:100px; float:right; display:block;">
					<div style="text-align: left; border-style:solid; border-width: 1px; border-color: #FFFFFF; padding:20px;">
						<div class="section-title">
							Classic craftmanship
						</div>
						<div class="section-body">
							Letterpress mlkshk wayfarers, kogi retro ugh before they sold out viral flannel mustache. Swag aliqua cupidatat distillery. Pork belly Odd Future gluten-free tousled, lo-fi Shoreditch plaid. Salvia PBR synth dolore. Exercitation shabby chic McSweeney's cred 90's laboris. Cornhole accusamus street art slow-carb YOLO semiotics iPhone, salvia voluptate.
							<br>
							<br>
							Sunt eu authentic, duis church-key 3 wolf moon chillwave lo-fi velit occupy Intelligentsia cliche. Post-ironic church-key PBR&B fugiat, tempor Pitchfork magna incididunt placeat Schlitz reprehenderit jean shorts beard. Vegan esse consectetur vinyl veniam.
						</div>
						<div style="text-align: center; width:100%; padding-top:20px; padding-bottom: 20px;">
							<a class="greyButtonWrapper" href="asd">
							<div class="grey-button">
								WATCH VIDEO
							</div></a>
							<a class="greyButtonWrapper" href="asd">
							<div class="grey-button">
								&nbsp;&nbsp;&nbsp;&nbsp;SIGN UP&nbsp;&nbsp;&nbsp;&nbsp;
							</div></a>
						</div>
					</div>

					<!-- Add the start you profile stuff in the div below-->
					<div></div>
				</div>
			</div>
		</div>
		<div class="scrollSlide">
			<video style="width:100%;" loop="1" autoplay="true" muted="true" src="http://s3-us-west-2.amazonaws.com/ben.tricklebank/first-love-casestudy.webm"></video>
			<div style="background-color:rgba(0, 0, 0, 0.75); top:0; left:0; width:100%; height:100%; position:absolute;"></div>
			<div style="position: absolute; top: 0; left: 0; width: 100%; height:100%; margin:auto 0" >
				<div style="padding-top:100px; width: 40%; padding-right:100px; float:right; display:block;">
					<div style="text-align: left; border-style:solid; border-width: 1px; border-color: #FFFFFF; padding:20px;">
						<div class="section-title">
							Classic craftmanship
						</div>
						<div class="section-body">
							Letterpress mlkshk wayfarers, kogi retro ugh before they sold out viral flannel mustache. Swag aliqua cupidatat distillery. Pork belly Odd Future gluten-free tousled, lo-fi Shoreditch plaid. Salvia PBR synth dolore. Exercitation shabby chic McSweeney's cred 90's laboris. Cornhole accusamus street art slow-carb YOLO semiotics iPhone, salvia voluptate.
							<br>
							<br>
							Sunt eu authentic, duis church-key 3 wolf moon chillwave lo-fi velit occupy Intelligentsia cliche. Post-ironic church-key PBR&B fugiat, tempor Pitchfork magna incididunt placeat Schlitz reprehenderit jean shorts beard. Vegan esse consectetur vinyl veniam.
						</div>
						<div style="text-align: center; width:100%; padding-top:20px; padding-bottom: 20px;">
							<a class="greyButtonWrapper" href="asd">
							<div class="grey-button">
								WATCH VIDEO
							</div></a>
							<a class="greyButtonWrapper" href="asd">
							<div class="grey-button">
								&nbsp;&nbsp;&nbsp;&nbsp;SIGN UP&nbsp;&nbsp;&nbsp;&nbsp;
							</div></a>
						</div>
					</div>

					<!-- Add the start you profile stuff in the div below-->
					<div></div>
				</div>
			</div>
		</div>