<div style="width: 100%; height: 100%" ng-controller='WeatherController as home'>
    <div id="weatherbackgroundContainer" style="width: 100%; height: 100%; overflow: hidden; position:absolute; z-index:900; top:0px; left:0px;">
        <img id="weatherbackground" ng-src="https://s3.amazonaws.com/buffaloimages/{{currentPicturePath}}" style="opacity:0.0" imageonload />
    </div>
    <div id="weatherBackgroundSlideshowContainer" style="width:100%; height:100%; overflow:hidden; position: absolute; z-index:901; top:0px; left:0px;">
        <div class="fadein">
            <p ng-repeat="slideImage in homeWeatherImages" my-repeat-directive>
                <img id="slide{{slideImage.id}}" class="slide" ng-src="{{slideImage.path}}" />
            </p>
        </div>
    </div>

    <div id="sidebar" style="opacity:0.0; position:absolute; z-index:999; top:0px; width:25%; height: 100%; border-left: 1px solid #999999; border-right:  1px solid #999999; background: rgba(0, 0, 0, 0.25); overflow: hidden; left:37.5%; ">

        <div id="slideContainer" style="height:100%; width: 300%; position: absolute; ">
            <div id="weatherHomeLoginContainer" style="text-align: center; margin 0 auto;  float: left; height: 100%; width: 33.33%; vertical-align: middle">
                <div style="position:absolute; top:50%; display:block; width:33.33%">
                    <div style="padding:20px; margin-top: -50%;">
                        <ul style="list-style-type: none;">
                            <li>
                                <span style="font-family: 'kepler-std-display',serif; color:#FFFFFF; font-size: 50px; text-align: center;"> Thank you</span>
                                <span style="font-family: 'museo-sans-condensed',serif; color: #FFFFFF; font-style:normal; font-weight:300; font-size:13px; text-align: center; line-height: 20px;">Sed before they sold out officia, semiotics gentrify labore Bushwick deserunt hashtag vegan esse cillum cornhole PBR&B chillwave. Sriracha skateboard letterpress, small batch enim nostrud Shoreditch church-key before they sold out vegan. </span>
                            </li>
                            <li>
                                <ul style="list-style-type: none; display: inline-block; width: 160px; padding-top: 50px;">
                                    <li>
                                        <a href ng-click="showLogin()">
                                            <div style="font-family: 'museo-sans-condensed',serif; color: #FFFFFF; font-style:normal; font-weight:300; font-size:21px; float: left; padding-right:20px; display: block;">
                                                LOGIN
                                            </div>
                                        </a>
                                    </li>
                                    <li>
                                        <span style="font-family: 'museo-sans-condensed',serif; color: #FFFFFF; font-style:normal; font-weight:300; font-size:21px; float: left; display: block; padding-right: 20px; padding-top:0px;">|</span>
                                    </li>
                                    <li>
                                        <a href ng-click="showSignup()">
                                            <div style="font-family: 'museo-sans-condensed',serif; color: #FFFFFF; font-style:normal; font-weight:300; font-size:21px; float: left; display: block;">
                                                SIGNUP
                                            </div>
                                        </a>
                                    </li>

                                </ul>
                            </li>
                            <li>

                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div id="loginSignUpParent" style=" float: left; width: 33.33%; display: inline-block; height: 100%">
                <div id="loginContainer" style="position: absolute;  width: 100%; height: 100%;">
                    <div id="loginChildren" style="position:absolute; top:50%; display:block; width:33.33%">
                        <div id="sidebarHeight" style="padding:20px; margin-top: -50%;">
                            <ul style="list-style-type: none; margin: auto">
                                <li style="padding-bottom:10px; text-align: center; margin: auto; height: 50px;  ">
                                    <div style=" height:50px; position: absolute; z-index: 999; text-align: center; padding:0px; left: 50%; ">
                                        <div id="defaultUserPicture" style="width:50px; height:50px; display:inline-block; position: relative; text-align: center; margin-left:-25px;">

                                            <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 75 75" enable-background="new 0 0 75 75" xml:space="preserve">
                                                <g>
                                                    <circle fill="#BCBEC0" cx="37.5" cy="37.5" r="37" />

                                                    <circle fill="none" stroke="#A7A9AC" stroke-width="0.5" stroke-miterlimit="10" stroke-dasharray="0.5007,0.5007" cx="37.5" cy="37.5" r="37" />
                                                </g>
                                                <g id="_x39_73-user-toolbar-selected_x40_2x.png">
                                                    <g>
                                                        <path fill="#D1D3D4" d="M45,45.7c-1.4-0.7-2.2-1.7-2.4-2.9c-0.4-2.1,1.1-4.4,1.1-4.4l0,0c0.1-0.1,2-4.6,2-11.8
														c0-5.5-1.8-11.6-8.2-11.6s-8.2,6.1-8.2,11.6c0,7.2,1.9,11.7,2,11.8c0,0,1.5,2.4,1.1,4.5c-0.2,1.2-1,2.1-2.4,2.9
														c-9.3,3.5-15,5.2-15,8.3v3.4c0,1.3,1,2.5,2,2.5H58c1,0,2-1.3,2-2.5v-3.4C60,50.9,54.3,49.3,45,45.7z" />
                                                    </g>
                                                </g>
                                            </svg>
                                        </div>
                                    </div>

                                    <div id="userPicture" style=" height:50px; position: absolute; z-index: 999; text-align: center; padding:0px; left: 50%; display: none; ">
                                        <div style="width:50px; height:50px; display:inline-block; position: relative; text-align: center; margin-left:-25px;">

                                            <a href="" ng-click="showProfileSideBar()"> <img ng-src="{{userpicture}}" width="50px" height="50px" class="logo-mask"></a>
                                        </div>
                                    </div>
                                    <div id="userSideBar" style=" display: none; padding-top: 60px;">
                                        <ul>
                                            <li>
                                                <div style="width:100%; text-align: center; font-family: 'museo-sans-condensed',serif; font-size: 22px; color:#FFFFFF">
                                                    {{name}}
                                                </div>
                                            </li>
                                            <li ng-show="!email_verified">
                                                <div style="width:100%; text-align: center; font-family: 'museo-sans-condensed',serif; font-size: 12px; color:#FFFFFF">
                                                    In order to keep the system running up to snuff we need to make sure you are who you are. You should have received an email to verify who you are. <a href="" ng-click="resend_weather_verification_email()">Resend the email</a>
                                                </div>
                                            </li>
                                            <li style="padding-top:20px; text-align: center; float: left; margin: 0 auto; width: 100%;">
                                                <div style="width:100%">
                                                    <div class="file_button_container">
                                                        <input type="file" id="file" ng-file-select="uploadBrowserImage($files)" accept="image/jpeg, image/png">
                                                    </div>
                                                </div>
                                                <div style="width:100%;">
                                                    <div ng-show="dropSupported" id="fileDrag" class="drop-box" ng-file-drop="uploadDragImage($files)" ng-file-drop-available="dropSupported=true" ng-file-drag-over-class="dragover" ng-file-drag-over-delay="100">or drop files
                                                        <div>here</div>
                                                    </div>
                                                </div>
                                            </li>
                                            <li style="float:left; width: 100%; padding-top:10px;">
                                                <div class="meter">
                                                    <span style="width: 0%"></span>
                                                </div>
                                            </li>
                                            <li style="float:left; padding-top:20px; width: 100%;">
                                                <div style="width:100%">
                                                    <span ng-show="!weatherPictures.length" style="color:#FFFFFF; font-family: 'museo-sans-condensed',serif; text-align: center; font-size: 12px;">Upload some pictures to get start.</span>
                                                    <div class="nailthumb-container square" ng-repeat="weatherPictureItem in weatherPictures">
                                                        <a href ng-click="showImageDetail(weatherPictureItem.path)">
                                                            <img ng-src="{{weatherPictureItem.signedPath}}">
                                                            <div style="position:absolute; top:0px; left:0px;">
                                                                <img ng-show="{{!weatherPictureItem.approved}}" ng-src="/assets/img/weahter_image_approved_normal.png"/>
                                                                <img ng-show="{{weatherPictureItem.approved}}" ng-src="/assets/img/weahter_image_approved_selected.png"/>
                                                            </div>
                                                        </a>
                                                    </div>
                                                </div>

                                            </li>
                                        </ul>

                                    </div>
                                </li>
                                <div>
                                    <div id="loginFormParent">
                                        <form name="loginForm" action="" class="login-form" ng-submit="weatherLogin()" ng-controller="LoginFormController as login">
                                            <li style="padding-bottom:10px;">
                                                <div id="loginError" style="background-color: #FF0000; color: #FFFFFF; font-family: 'museo-sans-condensed',serif; font-size: 14px; padding: 10px; display:none;">
                                                    {{login_error}}
                                                </div>
                                            </li>
                                            <li style="padding-bottom:10px;">
                                                <input type="text" placeholder="username" tabindex="1" ng-model="username" ng-change="loginChange()" ng-enter="weatherLogin()">
                                            </li>
                                            <li style="padding-bottom: 20px;padding-bottom: 20px;">
                                                <input type="password" placeholder="password" tabindex="2" ng-model="password" ng-change="loginChange()" ng-enter="weatherLogin()">
                                            </li>
                                            <li style="text-align:center; width:100%; float: left; margin auto;">
                                                <input type="submit" value="LOGIN" tabindex="3" style="font-family: 'museo-sans-condensed',serif; border: none; background-color: rgba(0, 0, 0, 0); color: #FFFFFF; text-decoration: none; font-style:normal; font-weight:300; font-size:21px;  text-align: center; display: inner-block;" />
                                            </li>
                                            <li>
                                                <a href="" ng-click="goToSignUp()" style="padding-top:7px; text-align:center; font-size:14px; font-family:'museo-sans-condensed',serif">Create new account</a>
                                                <a href="" ng-click="showForgottenPassword()" style="text-align:center; font-size:14px; font-family:'museo-sans-condensed',serif">Forgot my password</a>
                                            </li>
                                        </form>
                                    </div>
                                    <div id="forgotPasswordContainer" style="display:none;">
                                        <span style="font-family: 'kepler-std-display',serif; color:#FFFFFF; font-size: 40px; text-align: center;"> Reset Password</span>
                                        <form name="forgotPassword" action="" class="forgtten_password_form" ng-submit="sendForgottenPasswordEmail()">
                                            <li style="padding-bottom:10px;">
                                                <div id="forgottenPasswordError" style="background-color: #FF0000; color: #FFFFFF; font-family: 'museo-sans-condensed',serif; font-size: 14px; padding: 10px; display:none;">
                                                    {{forgotten_password_error}}
                                                </div>
                                            </li>
                                            <li style="padding-bottom:10px;">
                                                <input type="text" placeholder="username" tabindex="1" ng-model="forgotten_password_user" ng-change="loginChange()" ng-enter="weatherLogin()">
                                            </li>
                                            <li style="padding-bottom: 20px;padding-bottom: 20px;">
                                                <input type="password" placeholder="password" tabindex="2" ng-model="forgotten_password_password" ng-change="loginChange()" ng-enter="weatherLogin()">
                                            </li>
                                            <li style="padding-bottom: 20px;padding-bottom: 20px;">
                                                <input type="password" placeholder="password" tabindex="2" ng-model="forgotten_password_password_verify" ng-change="loginChange()" ng-enter="weatherLogin()">
                                            </li>
                                            <li style="text-align:center; width:100%; float: left; margin auto;">
                                                <input type="submit" value="SUBMIT" tabindex="3" class="textButton" />
                                            </li>
                                        </form>
                                        <a href="" ng-click="cancelResetPassword()" style="text-align:center; font-size:14px; font-family:'museo-sans-condensed',serif">Cancel</a>
                                    </div>
                                    <div id="forgotPasswordConfirmationContainer" style="display:none;">
                                        <div  style=" color: #FFFFFF; font-family: 'museo-sans-condensed',serif; font-size: 14px; padding: 10px">
                                                    We have sent you a password reset confirmation.  Your password will remain your old password until you confirm you new one through the email, we just sent.
                                                </div>
                                    </div>
                                </div>

                            </ul>
                        </div>
                    </div>
                    <div id="loginLoader" style="position: absolute; z-index: 99999;  top:50%;left:0px; width: 33.33%; height:300px; display:none;">
                        <div style="margin-top:-70%;  width: 100%; height:100%;">
                            <ul style="list-style-type: none; padding-top: 130px;">
                                <li style="text-align: center">
                                    <img src="assets/img/728.gif" style="display: inline-block" />
                                </li>
                                <li style="width:100%; text-align: center; font-family: 'museo-sans-condensed',serif; font-size: 14px; color:#FFFFFF; padding-top: 20px;">
                                    checking to see if we know you.
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div id="forgotPasswordLoader" style="position: absolute; z-index: 99999;  top:50%;left:0px; width: 33.33%; height:300px; display:none;">
                        <div style="margin-top:-70%;  width: 100%; height:100%;">
                            <ul style="list-style-type: none; padding-top: 130px;">
                                <li style="text-align: center">
                                    <img src="assets/img/728.gif" style="display: inline-block" />
                                </li>
                                <li style="width:100%; text-align: center; font-family: 'museo-sans-condensed',serif; font-size: 14px; color:#FFFFFF; padding-top: 20px;">
                                    working on it.
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div id="signUpContainer" style="position: absolute; width: 100%; height: 100%;">

                    <!----Start signup-->
                    <div id="signupChildren" style="position:absolute; top:50%; display:block; width:33.33%">
                        <div id="sidebarHeight" style="padding:20px; margin-top: -50%;">
                            <div>
                                <div id="signupFormParent">
                                    <span style="font-family: 'kepler-std-display',serif; color:#FFFFFF; font-size: 40px; text-align: center;">Create Account</span>
                                    <form name="signupForm" action="" class="login-form" ng-submit="weatherSignup()" ng-controller="SignupFormController as signup">
                                        <li style="padding-bottom:10px;">
                                            <div id="signupError" style=" color: #FFFFFF; font-family: 'museo-sans-condensed',serif; font-size: 14px; padding: 10px; display:none;">
                                                {{signup_error}}
                                            </div>
                                        </li>
                                        <li style="padding-bottom:10px;">
                                            <input type="text" placeholder="email address" tabindex="1" ng-model="signup.user" ng-enter="weatherSignup()">
                                        </li>
                                        <li style="padding-bottom:10px;">
                                            <input type="text" placeholder="first name" tabindex="1" ng-model="signup.firstname" ng-enter="weatherSignup()">
                                        </li>
                                        <li style="padding-bottom:10px;">
                                            <input type="text" placeholder="last name" tabindex="1" ng-model="signup.lastname" ng-enter="weatherSignup()">
                                        </li>
                                        <li style="padding-bottom: 20px;">
                                            <input type="password" placeholder="password" tabindex="2" ng-model="signup.pass" ng-enter="weatherSignup()">
                                        </li>
                                        <li style="padding-bottom: 20px;">
                                            <input type="password" placeholder="verify password" tabindex="2" ng-model="signup.passcheck" ng-enter="weatherSignup()">
                                        </li>
                                        <li style="padding-bottom:20px">
                                            <div style="font-family: 'museo-sans-condensed',serif; font-size:12px; color:#FFFFFF; line-height: 16px;">By clicking "Sign up ", you agree to our <a style="display:inline;" href="/weatherterms">terms of service</a> and <a style="display:inline;" href="weatherterms">privacy policy</a>. We will send you account related emails occasionally.</div>
                                        </li>
                                        <li style="text-align:center; width:100%; float: left; margin auto;">
                                            <input type="submit" value="SIGNUP" tabindex="3" style="font-family: 'museo-sans-condensed',serif; border: none; background-color: rgba(0, 0, 0, 0); color: #FFFFFF; text-decoration: none; font-style:normal; font-weight:300; font-size:21px;  text-align: center; display: inner-block;" />
                                        </li>
                                        <li>
                                            <a href="" ng-click="goToLogin()" style="text-align:center; font-size:14px; font-family:'museo-sans-condensed',serif">Login</a>
                                        </li>

                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="signupLoader" style="position: absolute; z-index: 99999;  top:50%;left:0px; width: 33.33%; height:300px; display:none;">
                        <div style="margin-top:-70%;  width: 100%; height:100%;">
                            <ul style="list-style-type: none; padding-top: 130px;">
                                <li style="text-align: center">
                                    <img src="assets/img/728.gif" style="display: inline-block" />
                                </li>
                                <li style="width:100%; text-align: center; font-family: 'museo-sans-condensed',serif; font-size: 14px; color:#FFFFFF; padding-top: 20px;">
                                    creating your account
                                </li>
                            </ul>
                        </div>
                    </div>

                    <!--- end signup-->



                </div>
            </div>
            <div id="sidebar" style=" float: left; background-color: #00FF00; width: 33.33%; height: 100%; display: inline-block">
                sdfsdfsd
            </div>
        </div>
    </div>
    <div id="weatherImageDetail" style="position: absolute; z-index:1000; top:0px; left:25%; width:25%; height: 100%;  display: none; ">
        <div id="weatherImageDetailScroller" style="width:100%; height:100%; overflow-y: scroll">
            <ul style="list-style-type: none; width:100%;">
                <li style="float:left; padding-top:10px; padding-bottom: 10px; width: 100%">
                    <div style="top: 10px;  width: 100%; height:50px; background:#FEFEFE; ">
                        <div style="padding:10px; width: 100%; color: #333333; font-family: 'museo-sans-condensed',sans-serif; font-size:12px; font-weight:300;">{{currentPicture.path}}</div>
                    </div>
                </li>
                <li style="float:left; padding-bottom:10px; width:100%;">
                    <div style="width:100%; height:140px; background-color: #FEFEFE;">
                        <span style="color: #333333; font-family: 'museo-sans-condensed',sans-serif; font-size:14px; font-weight:300; padding:10px;">Search for an address or lat/lon to assign to this picture</span>
                        <div style="margin-left:10px; width:90%">
                            <input type="text" ng-model="currentPictureLocationLabel" ng-change="searchForAddress()" placeholder="Find the place this picture was taken.">
                        </div>
                        <span style="color: #999999; font-family: 'museo-sans-condensed',sans-serif; font-size:12px; font-weight:300; padding:10px; text-align: center" ng-bind="currentPictureLocationLatLon"></span>
                    </div>
                    <div id="detailMap" style="width:100%">
                        <leaflet center="london" width="100%" height="100%" defaults="defaults" markers="markers" tiles="tiles"></leaflet>
                    </div>
                    <div style="position:absolute; top:20px;">
                        <ul>
                            <li ng-repeat="possibleAddress in suggestedAddresses">
                                <div style="width:100%; height:40px;" ng-click="selectAddress(possibleAddress.latlon)">{{possibleAddress.address}}</div>
                            </li>
                        </ul>
                    </div>
                </li>
                <li style="width:100%; float:left; padding-bottom: 10px;">
                    <div style="width:100%; height:65px; background-color: #FEFEFE;">
                        <span style="padding-left:10px; padding-top:10px; font-family: 'museo-sans-condensed',sans-serif; font-size:14px; color:#333333; font-weight:300; color:#333333; padding-bottom:10px;">Which season was this photo taken?</span>
                        <a class="radioItem" ng-class="{radioItemSelected: currentPictureSeason=='Spring'}" ng-click="selectedSeason('Spring')" href>Spring</a>
                        <a class="radioItem" ng-class="{radioItemSelected: currentPictureSeason=='Summer'}" ng-click="selectedSeason('Summer')" href>Summer</a>
                        <a class="radioItem" ng-class="{radioItemSelected: currentPictureSeason=='Fall'}" ng-click="selectedSeason('Fall')" href>Fall</a>
                        <a class="radioItem" ng-class="{radioItemSelected: currentPictureSeason=='Winter'}" ng-click="selectedSeason('Winter')" href>Winter</a>
                    </div>
                </li>
                <li style="width:100%; float:left;">
                    <div style="width:100%; height:60px; background-color: #FEFEFE;">
                        <div style="width:100%; padding-left: 10px; padding-top: 10px;">
                            <form ng-submit="addWeatherTag()">
                                <div style="width:100%">
                                    <div style="float:left; padding-right:10px;">
                                        <input id="weatherTagInput" type="text" style="padding-left:10px; float:left; width:100%" />
                                    </div>
                                    <div style="float:right; ">
                                        <input id="submitWeatherTagButton" type="submit" value="" />
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div style="padding-left: 10px;">
                        <div ng-repeat="weatherTag1 in currentPictureWeatherTags" class="weatherTag" style="padding-right:10px;">
                            <div>
                                <span>{{weatherTag1}}</span>
                                <a style="float:left; padding-right: 10px;" href ng-click="removeWeatherTag(weatherTag1)">
                                    <img ng-src="assets/img/weather_tag_right.png" />
                                </a>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <div style="width:100%; height: 51px; position: absolute; bottom:0px;">
            <div ng-click="deleteImage()" style="cursor:pointer; width:50%; background: #999999; color:#FFFFFF; float:left; height: 100%; text-align:center; font-family: 'museo-sans-condensed',sans-serif; font-size:18px;">
                <span style="margin-top:17px;">DELETE IMAGE</span>
            </div>
            <div ng-click="saveImage()" style="cursor:pointer; width:50%; background: #347ec4; color:#FFFFFF; float:left; text-align:center; height: 100%; font-family: 'museo-sans-condensed',sans-serif; font-size:18px;">
                <span style="margin-top:17px;">SAVE IMAGE</span>
            </div>
        </div>
    </div>

    <div id="user_profile_details" style="position: absolute; z-index:1000; top:0px; left:25%; width:25%; height: 100%;  display: none; ">
        <div id="weatherImageDetailScroller" style="width:100%; height:100%; overflow-y: scroll">
            <ul style="list-style-type: none; width:100%;">
                <li style="float:left; padding-top:10px; padding-bottom: 10px; width: 100%">
                    <!-- insert stuff for changing profile picture-->
                    <div style="background-color:#FFFFFF; padding:10px;">
                        <input type="file" id="file" ng-file-select="uploadProfileImage($files)" accept="image/jpeg, image/png">
                    </div>
                </li>
                <li style="float:left; padding-bottom:10px; width:100%;">
                    <!-- insert stuff for changing general user info-->
                    <div style="width:100%; height:60px; background-color: #FEFEFE;">
                        <input type="text" placeholder="{{$scope.first_name}}" tabindex="1" ng-model="new_first_name">
                    </div>
                    <div style="width:100%; height:60px; background-color: #FEFEFE;">
                        <input type="text" placeholder="{{$scope.last_name}}" tabindex="1" ng-model="new_last_name">
                    </div>
                    <div class="textButton" style="color:#333333" ng-click="saveProfile()">SAVE</div>
                </li>
                <li style="float:left; padding:10px; width:100%;">
                    <div id="changePasswordError" style="background-color: #FF0000; color: #FFFFFF; font-family: 'museo-sans-condensed',serif; font-size: 14px; padding: 10px; display:none;">
                        {{change_password_error}}
                    </div>

                    <div style="width:100%; height:60px; background-color: #FEFEFE;">
                        <input type="password" placeholder="new password" tabindex="1" ng-model="new_password">
                    </div>
                    <div style="width:100%; height:60px; background-color: #FEFEFE;">
                        <input type="password" placeholder="new password_verify" tabindex="1" ng-model="new_password_verify">
                    </div>
                    <div class="textButton" style="color:#333333" ng-click="changePassword()">SAVE</div>
                </li>
            </ul>
        </div>
    </div>
</div>